@charset "UTF-8";

body {
    background-color: #78FF8A;
    color: black;
    font-family: sans-serif;
}


h1 {
    color: #306437;
}

h1#principal {
    text-align: center;
    background-color: #1E4022;
    color: white;
}

h2 {
color: #478d51;
}

.basico {
    color: green;
}

.intermediario {
    color: rgb(189, 189, 2);
}

.avancado {
    color: rgb(204, 54, 54);
}

.destaque {
    background-color: #949401a8;
}