@charset "UTF-8";

body {
    background-color: rgb(135, 250, 135);
    font-family: sans-serif;
}

h1 {
    color: rgb(4, 189, 4);
}

h1#principal {
    text-align: center;
    color: rgb(253, 68, 0);
    background-color: white;
}

h2 {
color: rgb(4, 104, 4);
}